<!-- Specify which template to extend -->
{% extends 'base.html' %}

<!-- Add content to the content block in the main template -->
{% block content %}
<h1>Showing All Flights</h1>
{% for flight in flights %}
<table class="table">
    <thead>
    <tr>
        <th><strong>Origin Airport</strong></th>
        <th><strong>Destination Airport</strong></th>
        <th><strong>Airline/Flight#</strong></th>
        <th><strong>Departure</strong></th>
        <th><strong>Arrival</strong></th>
    </tr>
    <tr>
        <td>{{ flight.origin.airport_code }}</td>
        <td>{{ flight.destination.airport_code }}</td>
        <td>{{ flight.airline.airline_code }}{{ flight.flight_number }}</td>
        <td>{{ flight.departure }}</td>
        <td>{{ flight.arrival }}</td>
    </tr>
    </thead>
</table>
{% endfor %}
{% endblock %}